@charset "UTF-8";
/* Головна сторінка Студія */
/* шапка сайту */
:root {
  --color-background-top-line: #ffffff;
  --color-background-hero: #c4c4c4;
  --color-background-feature-list: #ffffff;
  --color-background-photo-robota: #f5f5f5;
  --color-background-our-team: #f5f4fa;
  --color-background-footer-basement: #2f303a;
  --color-logo-web-top: #2196f3;
  --color-logo-studio-top: #000000;
  --color-logo-studio-footer: #ffffff;
  --color-logo-web-footer: #2196f3;
  --color-primary-menu-nav: #212121;
  --color-accent-menu-nav: #2196f3;
  --color-primary-contact-Information-top: #757575;
  --color-text-hero: #ffffff;
  --color-button-text: #ffffff;
  --color-primary-background-button: #2196f3;
  --color-accent-background-button: #188ce8;
  --color-accent-text-button: #ffffff;
  --color-text-title: #212121;
  --color-text-paragraph: #757575;
  --color-text-map: #ffffff;
  --color-primary-contact-Information-footer: rgba(255, 255, 255, 0.6);
  --color-accent-contact-Information-footer: #2196f3;
  --background-color-our-team-li: #ffffff;
  --color-photo-h2-border: #eeeeee;
  --color-primary-icon: #afb1b8;
  --color-accent-primary-icon: #2196f3;
  --color-robota-overlay-background: rgba(47, 48, 58, 0.8);
  /* портфоліо */
  --color-background-filter-but: #f5f4fa;
  --color-accent-background-filter-but: #2196f3;
  --color-text-filter-but: #212121;
  --color-accent-text-filter-but: #ffffff;
  --color-overlay-background: rgba(33, 150, 243, 0.9);
  --color-modal-btn-background: rgba(0, 0, 0, 0.1);
  --color-join-link: rgba(255, 255, 255, 0.1);
  --color-backdrop: rgba(0, 0, 0, 0.2);
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

ul,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

/* скидання всіх крапок в ненумерованих списках не глобально */
.list {
  list-style: none;
}

/* скидання глобально для ссилок нижнє підкреслення */
a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation__logo {
  margin-right: 93px;
}

.navigation__nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.menu {
  display: flex;
  gap: 52px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  /* outline: 2px solid red;
    outline-offset: -2px; */
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* flex-wrap: wrap; дозволяє елементам переноситися на інший рядок */
body {
  color: var(--color-text-paragraph);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo,
.logo-web {
  color: var(--color-logo-studio-top);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--color-logo-web-top);
}

.logo {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.menu__link {
  color: var(--color-primary-menu-nav);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item {
  display: block;
  position: relative;
}

.connect__link {
  color: var(--color-primary-contact-Information-top);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__tel {
  fill: var(--color-primary-contact-Information-top);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link:hover .connect__tel, .connect__link:focus .connect__tel {
  fill: var(--color-accent-menu-nav);
}

.connect__mail {
  fill: var(--color-primary-contact-Information-top);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link:hover .connect__mail, .connect__link:focus .connect__mail {
  fill: var(--color-accent-menu-nav);
}

.connect__icon {
  margin-right: 10px;
}

.connect__link:hover,
.connect__link:focus {
  color: var(--color-accent-menu-nav);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--color-accent-menu-nav);
}

/* ставимо клас current в ту ссилку на поточну сторінку в якій зараз знаходимося щоб підсвітити ссилку для інформації що ця сторінка зараз відкрита в браузері */
/* .menu .link.current { color:var(--color-accent-menu-nav)  ;} */
.menu__link.current {
  color: var(--color-accent-menu-nav);
}
.menu__link.current::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -37px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* синя лінія */
/* Рішення для бізнесу hero     під шапкою перша секція */
.hero {
  background-color: var(--color-background-hero);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: url(../images/hero-overlay.png), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1170px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero__mar {
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  color: var(--color-text-hero);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1170px) {
  .hero__title {
    width: 100%;
    font-size: 26px;
  }
}

.hero__title-mar {
  margin: 0 auto 30px;
}

.button {
  color: var(--color-button-text);
  background-color: var(--color-primary-background-button);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: var(--color-accent-text-button);
  background-color: var(--color-accent-background-button);
}
@media screen and (max-width: 1170px) {
  .button {
    padding: 10px 24px;
  }
}

.container-photo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container-photo__desktop {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1170px) {
  .container-photo__desktop {
    width: calc((100% - 30px - 30px) / 3);
  }
}

.container-photo__robota {
  display: block;
}

.container-photo__kartyna {
  display: block;
  width: 100%;
  height: auto;
}

.photo-robota {
  padding-top: 0;
}

.photo-robota__h {
  color: var(--color-text-title);
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .photo-robota__h {
    font-size: 28px;
  }
}

.photo-robota__mar {
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .photo-robota__mar {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 769px) {
  .photo-robota__mar {
    margin-bottom: 30px;
  }
}

.robota-thumb {
  position: relative;
  overflow: hidden;
}

.robota-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-robota-overlay-background);
  height: 70px;
  width: 100%;
  display: flex;
  /* 
    анімція щоб вилізло  */
  /* transform: translateY(100%); */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
}
.container-photo__robota:hover .robota-overlay, .container-photo__robota:focus .robota-overlay {
  transform: translateY(0);
}
.robota-overlay p {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color-our-team-li);
}

/* наша команда фотографії працівників */
.container-our-team {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.container-our-team li {
  background-color: var(--background-color-our-team-li);
}

@media screen and (min-width: 768px) {
  .our_cards {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1170px) {
  .our_cards {
    width: calc((100% - 30px - 30px - 30px) / 4);
  }
}

.our-team {
  background-color: var(--color-background-our-team);
}
.our-team h2 {
  color: var(--color-text-title);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: auto;
  margin-bottom: 50px;
}
@media screen and (max-width: 1170px) {
  .our-team h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.our-team .list h3 {
  color: var(--color-text-title);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  padding-top: 30px;
}

.our-team .list p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-h3 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 30px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--background-color-our-team-li);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover, .socials-link:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent-menu-nav);
  border-radius: 50%;
}

.socials-icon {
  display: block;
  fill: var(--color-primary-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover .socials-icon, .socials-link:focus .socials-icon {
  fill: var(--background-color-our-team-li);
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.regular-customers {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .regular-customers {
    width: calc((100% - 30px - 30px) / 3);
  }
}
@media screen and (min-width: 1170px) {
  .regular-customers {
    width: calc((100% - 30px - 30px - 30px - 30px - 30px) / 6);
  }
}

.regular h2 {
  color: var(--color-text-title);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: auto;
  margin-bottom: 50px;
}
@media screen and (max-width: 1170px) {
  .regular h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4%;
  border: 1px solid var(--color-primary-icon);
  box-sizing: border-box;
}
.customers-link {
  fill: var(--color-primary-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover, .customers-link:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-accent-primary-icon);
  border: 1px solid var(--color-accent-primary-icon);
}

/* ховаю заголовок (наші особливості) */
.feature-list__h2 {
  font-size: 0px;
}

@media screen and (min-width: 768px) {
  .pravylo {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1170px) {
  .pravylo {
    width: calc((100% - 30px - 30px - 30px) / 4);
  }
}

.feature-list__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.pravylo__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-background-our-team);
  border-radius: 4%;
}

/* колір заголовків.. а колір тексту визначається як основний на сторінці */
.feature-list__title {
  color: var(--color-text-title);
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* підвал футер */
.logofut-stud {
  color: var(--color-logo-studio-footer);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}

.logo-wais-web {
  color: var(--color-logo-web-footer);
}

footer {
  background-color: var(--color-background-footer-basement);
}

.basement-logo {
  margin-right: 70px;
}

.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  /* gap: 70px; */
  justify-content: left;
  /* flex-basis: calc((100%-1050px)/6); */
}

.adresa {
  color: var(--color-primary-contact-Information-footer);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adresa {
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adresa:hover, .adresa:focus {
  color: var(--color-accent-contact-Information-footer);
}

.adre {
  color: var(--color-text-map);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adre {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adre:hover, .adre:focus {
  color: var(--color-accent-contact-Information-footer);
}

.address-li {
  margin-bottom: 9px;
}

.joiner {
  margin-right: 93px;
}

.join h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-studio-footer);
  margin-bottom: 20px;
}

.join-fut {
  display: flex;
  gap: 10px;
  justify-content: left;
}

.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--color-join-link);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover, .join-link:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent-primary-icon);
  border-radius: 50%;
}

.join-icon {
  display: block;
  fill: var(--color-logo-studio-footer);
}
.join-link:hover .join-icon, .join-link:focus .join-icon {
  fill: var(--color-logo-studio-footer);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form {
  display: flex;
  gap: 12px;
}

.footer-form-input {
  padding: 15px 16px;
  width: 358px;
  background-color: inherit;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--color-logo-studio-footer);
  box-sizing: border-box;
}

.footer-form-btn {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border-radius: 4px;
  color: #ffffff;
  transition-property: background-color, fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  fill: #ffffff;
}

/*  модальне вікно  1.58.00 1-відео   */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-backdrop);
  z-index: 1000;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  /* прозорість 0 ....  2.13.40 1-відео */
  opacity: 0;
  /* прибираються кліки мишкою */
  pointer-events: none;
  /* прибирає видимість елемента для асистивних технологій, пошуку і читалок  */
  visibility: hidden;
}

.modal {
  /* центрування  модального віконця */
  /* початок  техніка центрування абсолютно позиційованих елементів */
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /* закінчення центрування */
  width: 528px;
  height: 581px;
  background: var(--background-color-our-team-li);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid var(--color-modal-btn-background);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--background-color-our-team-li);
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: none;
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

label {
  display: block;
}

.register-form__title {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.register-form__group {
  margin-bottom: 20px;
  width: 448px;
}

.register-form__field {
  display: block;
  margin-bottom: 10px;
  position: relative;
  text-align: start;
  height: 58px;
}
.register-form__field:last-child {
  height: 138px;
}

.register-form__label {
  width: 22px;
  height: 14px;
  left: 576px;
  top: 297px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.register-form__input {
  display: block;
  width: 100%;
  /* width: 408px; */
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* паддінг внутрішній відступ для іконок */
  padding-left: 40px;
  padding-right: 40px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}
.register-form__input:focus {
  border-color: #2196f3;
}

.register-form__message {
  display: block;
  width: 100%;
  font-size: 12px;
  height: 120px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  box-sizing: border-box;
}

.register-form__icon {
  position: absolute;
  left: 10px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form__input:focus + .register-form__icon {
  fill: #2196f3;
}

.register-form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
}

.icon-checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form__checkbox:checked + .register-form__icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form__checkbox:checked + .register-form__icons .icon-unchecked {
  opacity: 0;
}

.register-form__btn {
  display: block;
  margin: 30px auto 0;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188ce8;
  border: none;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.register-form__btn:hover, .register-form__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.register-form__link {
  color: #2196f3;
  border-bottom: #188ce8;
  text-decoration: underline;
}

.filters h1 {
  font-size: 0px;
}

/* кнопки    налаштування кнопок (фільтри) */
.filter-but {
  color: var(--color-text-filter-but);
  background-color: var(--color-background-filter-but);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-but:hover, .filter-but:focus {
  color: var(--color-accent-text-filter-but);
  background-color: var(--color-accent-background-filter-but);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  padding-top: 94px;
  margin-bottom: 50px;
}

.container-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
  justify-content: center;
}

/* секція із фотографіями */
/* ховаю заголовок h1 */
.projects h1 {
  font-size: 0px;
}

.projects h2 {
  color: var(--color-text-filter-but);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* padding-left: 24px; */
  margin-bottom: auto;
}

.projects p {
  color: var(--color-text-paragraph);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  /* padding-left: 24px; */
  margin-top: auto;
}

.photo-h2 {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid var(--color-photo-h2-border);
  border-bottom: 1px solid var(--color-photo-h2-border);
  border-right: 1px solid var(--color-photo-h2-border);
}

.photo-h2 h2 {
  margin-bottom: 4px;
}

.container-ph {
  display: flex;
  gap: 30px;
  padding-left: 0px;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box:hover, .box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-overlay-background);
  height: 101%;
  display: flex;
  /* 
  анімція щоб вилізло  */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
  align-items: center;
}
.overlay p {
  color: var(--background-color-our-team-li);
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.box:hover .overlay, .box:focus .overlay {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */