.button {
  color: var(--color-button-text);
  background-color: var(--color-primary-background-button);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-accent-text-button);
    background-color: var(--color-accent-background-button);
  }

  @media screen and ( max-width: 1170px ) { 
    padding: 10px 24px;
    }


}
