body {
  color: var(--color-text-paragraph);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;

  @include font($fw: 400, $fs: 14px, $lh: 1.71, $ls: 0.03em);
}
