/* Головна сторінка Студія */
/* шапка сайту */
:root {
  --color-background-top-line: #ffffff;
  --color-background-hero: #c4c4c4;
  --color-background-feature-list: #ffffff;
  --color-background-photo-robota: #f5f5f5;
  --color-background-our-team: #f5f4fa;
  --color-background-footer-basement: #2f303a;
  --color-logo-web-top: #2196f3;
  --color-logo-studio-top: #000000;
  --color-logo-studio-footer: #ffffff;
  --color-logo-web-footer: #2196f3;
  --color-primary-menu-nav: #212121;
  --color-accent-menu-nav: #2196f3;
  --color-primary-contact-Information-top: #757575;
  --color-text-hero: #ffffff;
  --color-button-text: #ffffff;
  --color-primary-background-button: #2196f3;
  --color-accent-background-button: #188ce8;
  --color-accent-text-button: #ffffff;
  --color-text-title: #212121;
  --color-text-paragraph: #757575;
  --color-text-map: #ffffff;
  --color-primary-contact-Information-footer: rgba(255, 255, 255, 0.6);
  --color-accent-contact-Information-footer: #2196f3;
  --background-color-our-team-li: #ffffff;
  --color-photo-h2-border: #eeeeee;
  --color-primary-icon: #afb1b8;
  --color-accent-primary-icon: #2196f3;
  --color-robota-overlay-background: rgba(47, 48, 58, 0.8);
  /* портфоліо */
  --color-background-filter-but: #f5f4fa;
  --color-accent-background-filter-but: #2196f3;
  --color-text-filter-but: #212121;
  --color-accent-text-filter-but: #ffffff;

  --color-overlay-background: rgba(33, 150, 243, 0.9);

  --color-modal-btn-background: rgba(0, 0, 0, 0.1);
  --color-join-link: rgba(255, 255, 255, 0.1);
  --color-backdrop: rgba(0, 0, 0, 0.2);
}
